<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelesBeachProyecto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelesBeachProyecto.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <img src="./css/fondo.png" class="position-absolute order-1" alt="fondo" />
        <header>
            <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light box-shadow mb-3 flex-row justify-content-center">
                <div class="d-flex gap-xl-5">
                    <a class="navbar-brand me-xxl-5" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="./css/logo.png" alt="Alternate Text" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item mx-2">
                                <a class="nav-link fw-bold text-white" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link fw-bold text-white" asp-area="" asp-controller="Reservaciones" asp-action="NuevaReserva">Reservas</a>
                            </li>

                            <li class="nav-item mx-2">
                                <a class="nav-link fw-bold text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Paquetes</a>
                            </li>

                            <li class="nav-item mx-2">
                                <a class="nav-link fw-bold text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Contactenos</a>
                            </li>



                            <li class="nav-item mx-2">
                                <a class="nav-link fw-bold text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Iniciar Sesion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container position-relative">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

        <footer class="footer text-muted">
            <div class="container-fluid text-center">
                &copy; 2024 - HotelesBeachProyecto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
